<div class="container-fluid p-2">
    <div class="card">
        <div class="card-header bg-primary text-white fw-bold d-flex justify-content-between align-items-center">
        <strong class="h5"> Add Receipt Information</strong>
        </div>   

      <div class="card-body">        
        <form [formGroup]="receiptForm" (ngSubmit)="onSubmitReceipt()">

          <div class="row">

            <!-- ================= LEFT FORM AREA ================= -->
            <div class="col-md-8">                            

              <!-- Row 1: Voucher Date and Voucher Number -->
              <div class="row mb-2">           
                   
                <!-- Voucher Date -->
                <div class="col-md-3">
                  <label class="fw-bold">
                    Voucher Date : <span class="text-danger">*</span>
                  </label>
                </div>       

                <div class="col-md-3">
                  <input type="date"
                        id="voucherDate"
                        name="voucherDate"
                        #voucherDate
                        (keydown.enter)="focusNext(accountName); $event.preventDefault()"
                        class="form-control form-control-sm"
                        formControlName="voucherDate"
                        [ngClass]="{'is-invalid': isInvalid('voucherDate')}">
                </div>

                <!-- Voucher Number -->
                <div class="col-md-2">
                  <label class="fw-bold"> Voucher No: </label>
                </div>
              
                <div class="col-md-3">
                  <input type="text"
                        class="form-control form-control-sm"
                        id="voucherNumber"
                        name="voucherNumber"
                        formControlName="voucherNumber"
                        readonly>
                </div>

              </div>
              
              <!-- Received In -->
              <div class="col-md-12 mb-2">
                <div class="row align-items-center">
                  <div class="col-md-3">
                    <label class="fw-bold">
                    Received In : <span class="text-danger">*</span>
                  </label>
                  </div>    
                  <div class="col-md-3">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="destinationAccountCode">
                  </div>             
                  <div class="col-md-5">
                    <select class="form-select form-select-sm"
                            id="destinationAccountId"
                             #destinationAccount
                             (keydown.enter)="focusNext(paymentType); $event.preventDefault()"
                            name="destinationAccountId"
                          formControlName="destinationAccountId"
                          [ngClass]="{'is-invalid': isInvalid('destinationAccountId')}"                                                                              
                          >
                    <option value="">Select account</option>
                    <option *ngFor="let acc of accounts" [value]="acc.id">
                      {{acc.accountName}}
                    </option>
                  </select>                    
                  </div>                                 
                </div>
              </div>

               <!-- Entry Type -->
              <div class="col-md-12 mb-2">
                <div class="row align-items-center">
                  
                  <div class="col-md-3">
                    <label class="fw-bold">
                      Entry Type :
                    </label>
                  </div>
                  
                  <div class="col-md-6">
                     <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="accountGroupName">
                  </div>   

                </div>
              </div>             
            
               <!-- Account Name -->
              <div class="col-md-12 mb-2">
                <div class="row align-items-center">

                  <div class="col-md-3">
                    <label class="fw-bold">
                      Account Name : <span class="text-danger">*</span>
                    </label>
                  </div>
                  
                  <div class="col-md-6">
                    <select
                      class="form-select form-select-sm"
                      #accountName
                      (keydown.enter)="focusNext(systemAmount); $event.preventDefault()"
                      formControlName="sourceAccountId"
                      (change)="onSourceAccountChange()">
                      <option value="">Select Account</option>
                      <option *ngFor="let acc of sourceAccounts"
                            [value]="acc.id">
                      {{acc.accountName}}
                    </option>
                  </select>
                  </div>

                </div>
              </div>

              <!-- System Amount -->
              <div class="col-md-12 mb-2">
                <div class="row align-items-center">
                  
                  <div class="col-md-3">
                    <label class="fw-bold">
                    System Amount : <span class="text-danger">*</span>
                   </label>
                  </div>               
                  
                  <div class="col-md-6">
                     <input type="number"
                        #systemAmount
                        (keydown.enter)="focusNext(amount); $event.preventDefault()"
                        class="form-control form-control-sm"
                        id="systemAmount"
                        name="systemAmount"
                        formControlName="systemAmount"
                        placeholder="Enter System Amount"
                        (blur)="calculateDifference()"
                        [ngClass]="{'is-invalid': isInvalid('systemAmount')}">
                  </div>

                </div>
              </div>

               <!-- Amount -->
              <div class="col-md-12 mb-2">
                <div class="row align-items-center">
                  <div class="col-md-3">
                    <label class="fw-bold">
                    Amount : <span class="text-danger">*</span>
                  </label>
                  </div>  

                  <div class="col-md-6">
                    <input type="number"
                        #amount
                        (keydown.enter)="focusNext(employeeName); $event.preventDefault()"
                        class="form-control form-control-sm"
                        formControlName="amount"
                        id="amount"
                        name="amount"
                        placeholder="Enter Amount"
                        (blur)="calculateDifference()"
                        [ngClass]="{
                          'is-invalid': isInvalid('amount') || isAmountMismatch()
                        }">
                  </div>
                </div>
              </div>

              <!-- Difference -->
            <div class="col-md-12 mb-2">
              <div class="row align-items-center">
                
                <div class="col-md-3">
                  <label class="fw-bold">
                    Difference :
                  </label>
                </div>              
              
                <div class="col-md-6">
                  <input type="number"
                        class="form-control form-control-sm"
                        formControlName="amountDifference"
                          id="amountDifference"
                          name="amountDifference"
                        readonly>
                </div>
              </div>
            </div>

            <!-- Employee -->
            <div class="col-md-12 mb-2">
              <div class="row align-items-center">

                <div class="col-md-3">
                  <label class="fw-bold">
                    Employee Name : <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="col-md-6 position-relative">

                  <input
                    type="text"
                    #employeeName
                    class="form-control"
                    id="employeeFullName"
                    name="employeeFullName"
                    formControlName="employeeFullName"
                    placeholder="Search Employee..."
                    autocomplete="off"
                    (input)="searchEmployee($event)"
                    (keydown)="onEmployeeKeydown($event)"
                    (keydown.enter)="focusNext(narration); $event.preventDefault()"
                    [ngClass]="{'is-invalid': isInvalid('employeeFullName')}"
                  />

                  <ul
                    *ngIf="employees.length > 0"
                    class="list-group position-absolute w-100 shadow"
                    style="z-index: 1000; max-height: 200px; overflow-y: auto;"
                  >

                    <li
                      *ngFor="let employee of employees; let i = index"
                      class="list-group-item list-group-item-action"
                      [class.active]="i === selectedEmployeeIndex"
                      (mousedown)="selectEmployee(employee)"
                    >
                      {{ employee.employeeFullName }}
                    </li>

                  </ul>

                </div>

              </div>
            </div>         

            <!-- Narration -->
            <div class="col-md-12 mb-2">
              <div class="row align-items-center">

                <div class="col-md-3">
                  <label class="fw-bold">
                  Narration :
                </label>
                </div>
                
                <div class="col-md-6">
                  <input type="text"
                      #narration
                      (keydown.enter)="focusNext(loadNo); $event.preventDefault()"
                      class="form-control form-control-sm"
                      id="narration"
                      name="narration"
                      formControlName="narration"
                      placeholder="Enter Narration">
                </div>
              </div>
            </div>

              <!-- Load No -->
            <div class="col-md-12 mb-2">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <label class="fw-bold">
                  Load No : <span class="text-danger">*</span>
                </label>
                </div>
                
                <div class="col-md-6">
                  <input type="text"
                      #loadNo
                      (keydown.enter)="focusNext(vehicle); $event.preventDefault()"
                      class="form-control form-control-sm"
                      id="transactionNo"
                      name="transactionNo"
                      formControlName="transactionNo"   
                      placeholder="Enter Load No"                     
                      [ngClass]="{'is-invalid': isInvalid('transactionNo')}">
                </div>
              </div>
            </div>
            
            <!-- Vehicle -->
            <div class="col-md-12 mb-2">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <label class="fw-bold"> Vehicle : </label>
                </div>

                <div class="col-md-6 position-relative">
                  <input
                    type="text"
                    #vehicle
                    (keydown)="onVehicleKeydown($event)"
                    (keydown.enter)="focusNext(paymentType); $event.preventDefault()"
                    class="form-control"
                    id="vehicleNumber"
                    name="vehicleNumber"
                    formControlName="vehicleNumber"
                    placeholder="Search Vehicle..."
                    autocomplete="off"
                    (input)="searchVehicle($event)"
                  >
                  <ul  *ngIf="vehicles.length > 0" class="list-group position-absolute w-100 shadow"
                    style="z-index: 1000; max-height: 200px; overflow-y: auto;">

                    <li
                      *ngFor="let vehicle of vehicles; let i = index"
                      class="list-group-item list-group-item-action"
                      [class.active]="i === selectedVehicleIndex"
                      (mousedown)="selectVehicle(vehicle)">
                      {{ vehicle.code }} - {{ vehicle.name }} - {{ vehicle.vehicleNumber }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <!-- Row 1: Receipt Mode and Received -->
            <div class="row mb-2">           
                  
              <!-- Receipt Mode -->
              <div class="col-md-3">
                <label class="fw-bold">
                  Receipt Mode : <span class="text-danger">*</span>
                </label>
              </div>       

              <div class="col-md-3">
                <select class="form-select form-select-sm"
                      #paymentType
                      (keydown.enter)="focusNext(isAmountPaid); $event.preventDefault()"
                      id="paymentType"
                      name="paymentType"
                      formControlName="paymentType"
                      (change)="onPaymentTypeChange(receiptForm.get('paymentType')?.value)"
                      [ngClass]="{'is-invalid': isInvalid('paymentType')}">
                <option [ngValue]="null">Select</option>
                <option [ngValue]="PaymentType.Cash">Cash</option>
                <option [ngValue]="PaymentType.Bank">Bank</option>                    
              </select>
              </div>

              <!-- Received -->
              <div class="col-md-2">
                <label class="fw-bold">Received : <span class="text-danger">*</span></label>
              </div>
            
              <div class="col-md-3">
                <select 
                        #isAmountPaid
                        (keydown.enter)="focusNext(notes2000); $event.preventDefault()"
                        class="form-select form-select-sm"
                        id="isAmountPaid"
                        name="isAmountPaid"
                        formControlName="isAmountPaid"
                        (change)="onAmountPaidChange($event)"
                        [ngClass]="{'is-invalid': isInvalid('isAmountPaid')}">                          
                  <option value="">Select</option>
                  <option *ngFor="let option of amountPaidOptions"
                          [value]="option.value">
                    {{option.label}}
                  </option>
                </select>
              </div>

            </div>       

            <!-- Row 1:  Bank Name and Cheque No / UPI No -->
            <div class="row mb-2" *ngIf="!isCashMode">           
                  
              <!-- Bank Name -->
              <div class="col-md-3" *ngIf="!isCashMode">
                <label class="fw-bold">
                  Bank Account : <span class="text-danger">*</span>
                </label>
              </div>

              <div class="col-md-3" *ngIf="!isCashMode">
                <select
                  class="form-select form-select-sm"
                  formControlName="bankAccountId"
                  (change)="onBankAccountChange()"
                  [ngClass]="{
                    'is-invalid': isInvalid('bankAccountId')
                  }">

                  <option value="">Select Bank Account</option>

                  <option
                    *ngFor="let account of bankAccounts"
                    [value]="account.id">

                    {{ account.accountCode }} - {{ account.accountName }}
                    {{ account.isDefault ? ' (Default)' : '' }}

                  </option>

                </select>
              </div>             

              <!-- Cheque No / UPI No -->
              <div class="col-md-2">
                <label class="fw-bold">
                Cheque No : <span class="text-danger">*</span>
              </label>
              </div>
            
              <div class="col-md-3">
               <input type="text"
                       #chequeNumber                        
                       class="form-control form-control-sm"
                       length="12"
                        id="chequeNumber"
                        name="chequeNumber"
                       formControlName="chequeNumber"
                       placeholder="Enter Cheque / UPI No">  
              </div>
            </div>           

            <div class="col-md-12 mb-2" *ngIf="!isCashMode">
              <div class="row align-items-center">

                <div class="col-md-3">
                  <label class="fw-bold">
                  Remarks :
                </label>
                </div>     

                <div class="col-md-6">
                   <input type="text"
                       #remark                        
                       class="form-control form-control-sm"
                        id="remark"
                        name="remark"
                       formControlName="remark"
                       placeholder="Enter Remarks">                   
                </div>
              </div>
            </div>

            </div>            

            <!-- ================= RIGHT CASH NOTES TABLE ================= -->
            <div class="col-md-4">

            <table class="table table-bordered table-sm text-center">
              <thead class="table-light">
                <tr>
                  <th>Rs</th>
                  <th>No. of Notes</th>
                  <th>Amount</th>
                </tr>
              </thead>

              <tbody>

                <tr>
                  <td>2000</td>
                  <td><input type="number" 
                    #notes2000
                    (keydown.enter)="focusNext(notes500); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes2000" name="notes2000" formControlName="notes2000"></td>
                  <td>{{(receiptForm.value.notes2000 ?? 0) * 2000}}</td>
                </tr>              

                <tr>
                  <td>500</td>
                  <td><input type="number" 
                    #notes500
                    (keydown.enter)="focusNext(notes200); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes500" name="notes500" formControlName="notes500"></td>
                  <td>{{(receiptForm.value.notes500 ?? 0) * 500}}</td>
                </tr>

                <tr>
                  <td>200</td>
                  <td><input type="number" 
                    #notes200
                    (keydown.enter)="focusNext(notes100); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes200" name="notes200" formControlName="notes200"></td>
                  <td>{{(receiptForm.value.notes200 ?? 0) * 200}}</td>
                </tr>

                <tr>
                  <td>100</td>
                  <td><input type="number" 
                    #notes100
                    (keydown.enter)="focusNext(notes50); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes100" name="notes100" formControlName="notes100"></td>
                  <td>{{(receiptForm.value.notes100 ?? 0) * 100}}</td>
                </tr>

                <tr>
                  <td>50</td>
                  <td><input type="number" 
                    #notes50
                    (keydown.enter)="focusNext(notes20); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes50" name="notes50" formControlName="notes50"></td>
                  <td>{{(receiptForm.value.notes50 ?? 0) * 50}}</td>
                </tr>

                <tr>
                  <td>20</td>
                  <td><input type="number" 
                    #notes20
                    (keydown.enter)="focusNext(notes10); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes20" name="notes20" formControlName="notes20"></td>
                  <td>{{(receiptForm.value.notes20 ?? 0) * 20}}</td>
                </tr>

                <tr>
                  <td>10</td>
                  <td><input type="number" 
                    #notes10
                    (keydown.enter)="focusNext(notes5); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes10" name="notes10" formControlName="notes10"></td>
                  <td>{{(receiptForm.value.notes10 ?? 0) * 10}}</td>
                </tr>

                <tr>
                  <td>5</td>
                  <td><input type="number" 
                    #notes5
                    (keydown.enter)="focusNext(coins); $event.preventDefault()"
                    class="form-control form-control-sm" id="notes5" name="notes5" formControlName="notes5"></td>
                  <td>{{(receiptForm.value.notes5 ?? 0) * 5}}</td>
                </tr>

                <tr>
                  <td>Coins</td>
                  <td><input type="number" 
                    #coins
                    (keydown.enter)="focusNext(save); $event.preventDefault()"
                    class="form-control form-control-sm" id="coins" name="coins" formControlName="coins"></td>
                  <td>{{receiptForm.value.coins ?? 0}}</td>
                </tr>

                <!-- Total row -->
                <tr [ngClass]="{'table-light fw-bold': !isAmountMismatch(),
                    'table-danger fw-bold': isAmountMismatch()}">
              <td class="fw-bold">Total</td>
              <td class="fw-bold">{{getNotesCountTotal()}}</td>
              <td class="fw-bold">{{getNotesTotal()}}</td>
            </tr>

              </tbody>
            </table>

             <div class="row">         

              <!-- Third Section -->
              <div class="col-md-12">
                <div class="d-grid mt-1">
                  <button type="submit"
                          #save
                          class="btn btn-success btn-sm"
                          [disabled]="receiptForm.invalid || receiptForm.get('isAmountPaid')?.value === false">
                    Save Receipt
                  </button>
                </div>
              </div>

            </div>         

            </div>

          </div>                

        </form>
      </div>
    </div>
</div>