<div [formGroup]="group">
    <div class="table-responsive">
        <table class="table table-bordered table-sm align-middle">

            <thead class="table-success">
                <tr>
                    <th colspan="4">SHIRT / KURTA / JACKET</th>
                </tr>
                <tr>
                    <th>Particular</th>
                    <th>Body Size</th>
                    <th>Losing</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td class="fw-bold">Length</td>
                    <td><input class="form-control form-control-sm" formControlName="ugLength"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugLengthLosing"></td>                                        
                </tr>

                <tr>
                    <td class="fw-bold">Shoulder</td>
                    <td><input class="form-control form-control-sm" formControlName="ugShoulder"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugShoulderLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Chest</td>
                    <td><input class="form-control form-control-sm" formControlName="ugChest"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugChestLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Belly</td>
                    <td><input class="form-control form-control-sm" formControlName="ugBelly"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugBellyLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Hip</td>
                    <td><input class="form-control form-control-sm" formControlName="ugHip"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugHipLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Sleeve Length</td>
                    <td><input class="form-control form-control-sm" formControlName="ugSleeveLength"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugSleeveLengthLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Arms</td>
                    <td><input class="form-control form-control-sm" formControlName="ugArms"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugArmsLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Collar</td>
                    <td><input class="form-control form-control-sm" formControlName="ugCollar"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugCollarLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Cuff</td>
                    <td><input class="form-control form-control-sm" formControlName="ugCuff"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugCuffLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">3/4</td>
                    <td><input class="form-control form-control-sm" formControlName="ugThreeFourth"></td>
                    <td><input class="form-control form-control-sm" formControlName="ugThreeFourthLosing"></td>
                </tr>
                
                <tr>
                    <td class="fw-bold">Style</td>
                    <td colspan="2">
                        <input class="form-control form-control-sm"
                            formControlName="ugStyle">
                    </td>
                </tr>

                <tr>
                    <td class="fw-bold">Fabric</td>
                    <td colspan="2">
                        <input class="form-control form-control-sm"
                            formControlName="ugFabric">
                    </td>
                </tr>

                <tr>
                    <td class="fw-bold">Remark</td>
                    <td colspan="2">
                        <textarea rows="3"
                                class="form-control form-control-sm"
                                formControlName="ugRemark"></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="fw-bold">Quantity</td>
                    <td colspan="2">
                        <input class="form-control form-control-sm" formControlName="ugQuantity">
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>