<div class="container-fluid">

    <div class="card shadow border-2">

    <div class="card-header bg-primary text-white">
        <h4 class="mb-0 fw-bold">
            Tailoring Measurement Entry
        </h4>
    </div>

        <div class="card-body">
            <form [formGroup]="measurementForm">
               <app-customer-details [group]="customerGroup">
                </app-customer-details>

            <div class="row g-3">

                <div class="col-lg-6">
                    <app-upper-garment
                        [group]="upperGarmentGroup">
                    </app-upper-garment>
                </div>

                <div class="col-lg-6">
                    <app-lower-garment
                        [group]="lowerGarmentGroup">
                    </app-lower-garment>
                </div>

            </div>

            <app-billing-summary
                [group]="billingSummaryGroup">
            </app-billing-summary>                
            </form>
        </div>

    </div>

</div>