    <div class="container-fluid p-2">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between">
          <strong class="h5">
            Add Bank Deposit Information
            <span *ngIf="isUpdateMode"> - {{ draftForm.get('transactionStatus')?.value }}</span>
          </strong>
        </div>
        <div class="card-body">

      <div class="row">

        <!-- ================= LEFT FORM (DRAFT) ================= -->
        <div class="col-md-8">
          <form [formGroup]="draftForm" (ngSubmit)="onSaveDraft()">           
                            
              <!-- Row 1: Voucher Date and Voucher Number -->
              <div class="row mb-2">           
                  
                <!-- Voucher Date -->
                <div class="col-md-3">
                  <label class="fw-bold">
                    Voucher Date : <span class="text-danger">*</span>
                  </label>
                </div>       

                <div class="col-md-3">
                  <input type="date"
                      #voucherDate
                      (keydown.enter)="focusNext(destinationAccount); $event.preventDefault()"
                      class="form-control form-control-sm"
                      formControlName="voucherDate">
                </div>

                <!-- Voucher Number -->
                <div class="col-md-2">
                  <label class="fw-bold"> Voucher No: </label>
                </div>
              
                <div class="col-md-3">
                  <input type="text"
                            class="form-control form-control-sm"
                            formControlName="voucherNumber"
                            readonly>
                </div>

              </div>
              
              <!-- Paid From -->                   
              <div class="col-md-12 mb-2">
                <div class="row align-items-center">
                  
                  <div class="col-md-3">
                  <label class="fw-bold">
                    Paid From : <span class="text-danger">*</span>
                  </label>
                  </div>    
                  
                  <div class="col-md-3">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="sourceAccountCode"
                      formControlName="sourceAccountCode">
                  </div>    

                  <div class="col-md-5">
                      <select                              
                        id="sourceAccount"
                        name="sourceAccount"                              
                        class="form-select form-select-sm"
                        formControlName="sourceAccountId">
                        <option value="">Select Account</option>
                        <option
                          *ngFor="let acc of accounts"
                          [value]="acc.id">
                          {{acc.accountName}}
                        </option>
                    </select>                        
                  </div>                                 
                </div>
              </div>               

               <!-- Entry Type -->            
              <div class="col-md-12 mb-2">
                <div class="row align-items-center">
                  
                  <div class="col-md-3">
                    <label class="fw-bold">
                      Entry Type :
                    </label>
                  </div>
                  
                  <div class="col-md-6">
                    <input type="text"
                      class="form-control form-control-sm"
                      id="entryType"
                      name="entryType"
                      formControlName="entryType">
                  </div>   

                </div>
              </div>           

              <!--Destination Account -->
              <div class="col-md-12 mb-2">
                      <div class="row align-items-center">
                        
                        <div class="col-md-3">
                          <label class="fw-bold">
                            Credit Account * : <span class="text-danger">*</span>
                          </label>
                        </div>
                        
                      <div class="col-md-6">
                        <select class="form-select form-select-sm"
                          #destinationAccount
                          (keydown.enter)="focusNext(amount); $event.preventDefault()"
                          formControlName="destinationAccountId"
                          (change)="onDestinationAccountChange()">
                          <option value="">Select</option>
                          <option *ngFor="let acc of bankAccounts"
                              [value]="acc.id">
                            {{ acc.accountName }}
                          </option>
						          </select>				  
                      </div>   

                      </div>
              </div>             
              
              <!-- Amount -->
                <div class="col-md-12 mb-2">
                <div class="row align-items-center">
                  
                  <div class="col-md-3">
                    <label class="fw-bold">
                      Amount : <span class="text-danger">*</span>
                    </label>
                  </div>
                  
                  <div class="col-md-6">
                    <input
                        type="number" #amount (keydown.enter)="focusNext(narration); $event.preventDefault()"
                        class="form-control form-control-sm" formControlName="amount"
                        placeholder="Enter Amount" min="0.01" step="0.01"
                        [ngClass]="{'is-invalid': draftForm.get('amount')?.invalid && draftForm.get('amount')?.touched}">
                      <div class="text-danger"
                        *ngIf="draftForm.get('amount')?.touched &&
                              draftForm.get('amount')?.hasError('required')">
                        Amount is required.
                      </div>
                    <div
                      class="text-danger" *ngIf="draftForm.get('amount')?.touched && draftForm.get('amount')?.hasError('min')">
                        Amount must be greater than 0.
                    </div>
                   
                  </div>   

                </div>
                </div>
                
              <!-- Narration -->
                <div class="col-md-12 mb-2">
                  <div class="row align-items-center">
                    
                    <div class="col-md-3">
                      <label class="fw-bold">
                        Narration :
                      </label>
                    </div>
                    
                    <div class="col-md-6">
                      <input type="text"
                        #narration                        
                        class="form-control form-control-sm"
                        formControlName="narration"
                        placeholder="Enter Narration">
                    </div>   

                  </div>
                </div>                                
             
                <!-- Row 3: Created By and Approved By -->
                    <div class="row mb-2" *ngIf="isAmountApproved === true">           
                          
                      <!-- Created By -->
                      <div class="col-md-3">
                        <label class="fw-bold">
                          Created By :
                        </label>
                      </div>       

                      <!-- Created By -->
                      <div class="col-md-3">
                        <input type="text"
                              class="form-control form-control-sm"
                              formControlName="createdByName" >	 
                      </div>

                      <!-- Approved By -->
                      <div class="col-md-2">
                        <label class="fw-bold">
                            Approved By : 
                            </label>
                      </div>
                    
                      <!-- Cheque No -->
                      <div class="col-md-3">
                     <input type="text"
                                class="form-control form-control-sm"
                                formControlName="approvedByName"                        
                                >	                
                      </div>

                    </div>

                <!-- Amount Paid -->                     
                <div class="col-md-12 mb-2" *ngIf="isAmountApproved === true">
                  <div class="row align-items-center">
                      
                      <div class="col-md-3">
                         <label class="fw-bold">
                          Paid By :
                        </label>
                      </div>
                      
                      <div class="col-md-6">
                            <input type="text"
                            class="form-control form-control-sm"
                            formControlName="paidByName">
                      </div>   

                  </div>                   
                </div>    
            
            <!-- SAVE BUTTON -->
            <div class="text-end mt-2">
              <button type="submit"
                      class="btn btn-primary btn-sm"
                      [disabled]="draftForm.invalid || !isDraft">
                Save Draft
              </button>
            </div>

          </form>
        </div>

        <!-- ================= RIGHT FORM (APPROVAL) ================= -->
        <div class="col-md-4" *ngIf="isAmountApproved === true">
          <form [formGroup]="cashNotesForm" (ngSubmit)="onPayAmount()">

            <table class="table table-bordered table-sm text-center">
              <thead class="table-light">
                <tr>
                  <th>Rs</th>
                  <th>No. of Notes</th>
                  <th>Amount</th>
                </tr>
              </thead>

              <tbody>

                <tr>
                  <td>2000</td>
                  <td>
                    <input type="number"
                          #notes2000
                          (keydown.enter)="focusNext(notes500); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes2000">
                  </td>
                  <td>{{(cashNotesForm.value.notes2000 ?? 0) * 2000}}</td>
                </tr>              

                <tr>
                  <td>500</td>
                  <td>
                    <input type="number"
                          #notes500
                          (keydown.enter)="focusNext(notes200); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes500">
                  </td>
                  <td>{{(cashNotesForm.value.notes500 ?? 0) * 500}}</td>
                </tr>

                <tr>
                  <td>200</td>
                  <td>
                    <input type="number"
                          #notes200
                          (keydown.enter)="focusNext(notes100); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes200">
                  </td>
                  <td>{{(cashNotesForm.value.notes200 ?? 0) * 200}}</td>
                </tr>

                <tr>
                  <td>100</td>
                  <td>
                    <input type="number"
                          #notes100
                          (keydown.enter)="focusNext(notes50); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes100">
                  </td>
                  <td>{{(cashNotesForm.value.notes100 ?? 0) * 100}}</td>
                </tr>

                <tr>
                  <td>50</td>
                  <td>
                    <input type="number"
                          #notes50
                          (keydown.enter)="focusNext(notes20); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes50">
                  </td>
                  <td>{{(cashNotesForm.value.notes50 ?? 0) * 50}}</td>
                </tr>

                <tr>
                  <td>20</td>
                  <td>
                    <input type="number"
                          #notes20
                          (keydown.enter)="focusNext(notes10); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes20">
                  </td>
                  <td>{{(cashNotesForm.value.notes20 ?? 0) * 20}}</td>
                </tr>

                <tr>
                  <td>10</td>
                  <td>
                    <input type="number"
                          #notes10
                          (keydown.enter)="focusNext(notes5); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes10">
                  </td>
                  <td>{{(cashNotesForm.value.notes10 ?? 0) * 10}}</td>
                </tr>

                <tr>
                  <td>5</td>
                  <td>
                    <input type="number"
                          #notes5
                          (keydown.enter)="focusNext(coins); $event.preventDefault()"
                          class="form-control form-control-sm"
                          formControlName="notes5">
                  </td>
                  <td>{{(cashNotesForm.value.notes5 ?? 0) * 5}}</td>
                </tr>

                <tr>
                  <td>Coins</td>
                  <td>
                    <input type="number"
                          #coins                          
                          class="form-control form-control-sm"
                          formControlName="coins">
                  </td>
                  <td>{{cashNotesForm.value.coins ?? 0}}</td>
                </tr>

                <!-- TOTAL -->
                <tr [ngClass]="{'table-light fw-bold': !isAmountMismatch(),
                  'table-danger fw-bold': isAmountMismatch()}">
                  <td>Total</td>
                  <td>{{getNotesCountTotal()}}</td>
                  <td>{{getNotesTotal()}}</td>
                </tr>

              </tbody>
            </table>

            <!-- SUBMIT BUTTON -->
            <div class="d-grid mt-1" *ngIf="currentStatus === TransactionStatus.Approved">
              <button
              type="submit"
              class="btn btn-sm text-white fw-bold"
              [ngClass]="isAmountMismatch() ? 'btn-danger' : 'btn-success'"
              [disabled]="cashNotesForm.invalid || isPaid || isAmountMismatch()">
              Pay Amount
          </button>
            </div>

          </form>
        </div>

      </div>
        </div>   
      </div>
    </div>