<div class="container-fluid min-vh-100 d-flex p-0 page-no-top">
  <div class="row g-0 w-100">
    <div class="col-12">
      <div class="card h-100 w-100 rounded-0">

        <!-- Header -->
        <div class="card-header bg-primary text-white d-flex justify-content-between" *ngIf="!isUpdateMode">
          <strong class="h5">Add Employee Information</strong>
        </div>
        <div class="card-header bg-primary text-white d-flex justify-content-between" *ngIf="isUpdateMode">
          <strong class="h5">Update Employee Information</strong>
        </div>

        <div class="card-body">
          <form [formGroup]="employeeForm" (ngSubmit)="onSubmitEmployee()">
                    <div class="row">

                    <!-- Employee Code -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Employee Code <span class="text-danger">*</span></label>
                        <input type="text" maxlength="20"
                            class="form-control"
                            formControlName="employeeCode"
                            maxlength="20"
                            placeholder="Enter Employee Code"
                            [ngClass]="{
                            'is-invalid': employeeForm.get('employeeCode')?.invalid && employeeForm.get('employeeCode')?.touched,
                            'readonly-field': isUpdateMode
                            }"
                            [readonly]="isUpdateMode" appUpperCase>
                    </div>

                    <!-- First Name -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">First Name <span class="text-danger">*</span></label>
                        <input type="text" maxlength="50"
                            class="form-control"
                            formControlName="firstName"
                            placeholder="Enter First Name"
                            [ngClass]="{'is-invalid': employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched}"
                            appUpperCase>
                    </div>

                    <!-- Middle Name -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Middle Name</label>
                        <input type="text" maxlength="50"
                            class="form-control"
                            formControlName="middleName"
                            placeholder="Enter Middle Name"
                            [ngClass]="{'is-invalid': employeeForm.get('middleName')?.invalid && employeeForm.get('middleName')?.touched}"
                            appUpperCase>
                    </div>

                    <!-- Last Name -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Last Name <span class="text-danger">*</span></label>
                        <input type="text" maxlength="50"
                            class="form-control"
                            formControlName="lastName"
                            placeholder="Enter Last Name"
                            [ngClass]="{'is-invalid': employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched}"
                            appUpperCase>
                    </div>      

                    <!-- Primary Phone -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Primary Phone <span class="text-danger">*</span></label>
                        <input type="text" maxlength="12"
                            class="form-control"
                            formControlName="phonePrimary"
                            placeholder="Enter Primary Phone"
                            [ngClass]="{'is-invalid': employeeForm.get('phonePrimary')?.invalid && employeeForm.get('phonePrimary')?.touched}">
                    </div>

                    <!-- Secondary Phone -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Secondary Phone</label>
                        <input type="text" maxlength="12"
                            class="form-control"
                            formControlName="phoneSecondary"
                            placeholder="Enter Secondary Phone"
                            [ngClass]="{'is-invalid': employeeForm.get('phoneSecondary')?.invalid && employeeForm.get('phoneSecondary')?.touched}">
                    </div>   
                    
                    <!-- Email -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" maxlength="100"
                            class="form-control"
                            formControlName="email"
                            placeholder="Enter Email"
                            [ngClass]="{'is-invalid': employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched}"
                            appUpperCase>
                    </div>

                    <!-- Local Address -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Local Address <span class="text-danger">*</span></label>
                        <textarea class="form-control" maxlength="100"
                                formControlName="localAddress"
                                rows="2"
                                placeholder="Enter Local Address"
                                [ngClass]="{'is-invalid': employeeForm.get('localAddress')?.invalid && employeeForm.get('localAddress')?.touched}"
                                appUpperCase></textarea>
                    </div>

                    <!-- Permanent Address -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Permanent Address <span class="text-danger">*</span></label>
                        <textarea class="form-control" maxlength="100"
                                formControlName="permanentAddress"
                                rows="2"
                                placeholder="Enter Permanent Address"
                                [ngClass]="{'is-invalid': employeeForm.get('permanentAddress')?.invalid && employeeForm.get('permanentAddress')?.touched}"
                                appUpperCase></textarea>
                    </div>                   

                    <!-- City -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">City <span class="text-danger">*</span></label>
                        <input type="text" maxlength="50"
                            class="form-control"
                            formControlName="city"
                            placeholder="Enter City"
                            [ngClass]="{'is-invalid': employeeForm.get('city')?.invalid && employeeForm.get('city')?.touched}"
                            appUpperCase>
                    </div>

                    <!-- State -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">State <span class="text-danger">*</span></label>
                        <select
                        class="form-select"
                        formControlName="stateId">
                        <option value="" disabled>Select State</option>
                        <option *ngFor="let state of states" [value]="state.id">
                            {{ state.code }} - {{ state.name }} (GST Code - {{ state.gstCode }})
                        </option>
                        </select>
                    </div>

                    <!-- Postal Code -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Postal Code <span class="text-danger">*</span></label>
                        <input type="text" maxlength="10"
                            class="form-control"
                            formControlName="postalCode"
                            placeholder="Enter Postal Code"
                            [ngClass]="{'is-invalid': employeeForm.get('postalCode')?.invalid && employeeForm.get('postalCode')?.touched}">
                    </div>

                    <!-- Birth Date -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Birth Date <span class="text-danger">*</span></label>
                        <input type="date"
                            class="form-control"
                            formControlName="birthDate"
                            [ngClass]="{'is-invalid': employeeForm.get('birthDate')?.invalid && employeeForm.get('birthDate')?.touched}">
                    </div>

                    <!-- Join Date -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Join Date <span class="text-danger">*</span></label>
                        <input type="date"
                            class="form-control"
                            formControlName="joinDate"
                            [ngClass]="{'is-invalid': employeeForm.get('joinDate')?.invalid && employeeForm.get('joinDate')?.touched}">
                    </div>

                   <!-- Job Profile -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Job Profile <span class="text-danger">*</span></label>
                        <input type="text" maxlength="50"
                            class="form-control"
                            formControlName="jobProfile"
                            placeholder="Enter Job Profile"
                            [ngClass]="{'is-invalid': employeeForm.get('jobProfile')?.invalid && employeeForm.get('jobProfile')?.touched}"
                            appUpperCase>
                    </div>

                    <!-- Referred By -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Referred By</label>
                        <input type="text" maxlength="50"
                            class="form-control"
                            formControlName="referredBy"
                            placeholder="Enter Referrer Name"
                            appUpperCase>
                    </div>                    

                    <!-- Is Active -->
                    <div class="col-md-2 mb-3 d-flex align-items-center">
                        <div class="form-check mt-4">
                        <input type="checkbox"
                                class="form-check-input"
                                formControlName="isActive">
                        <label class="form-check-label">Active</label>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-md-12 text-end">
                        <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">
                        {{ isUpdateMode ? 'Update' : 'Submit' }}
                        </button>
                    </div>

                    </div>
          </form>          
        </div>

      </div>
    </div>
  </div>
</div>