.card {
    border-radius: 10px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 4px;
}

.form-control-sm,
.form-select-sm {
    height: 34px;
    font-weight: 600;     /* Bold text inside textbox */
}