<div [formGroup]="group">    
    <div class="table-responsive">
        <table class="table table-bordered table-sm align-middle">

            <thead class="table-success">
                <tr>
                    <th colspan="3">TROUSER / PANT / PAJAMA</th>
                </tr>
                <tr>
                    <th>Particular</th>
                    <th>Body Size</th>
                    <th>Losing</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td class="fw-bold">Length</td>
                    <td><input class="form-control form-control-sm" formControlName="lgLength"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgLengthLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Waist</td>
                    <td><input class="form-control form-control-sm" formControlName="lgWaist"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgWaistLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Hip</td>
                    <td><input class="form-control form-control-sm" formControlName="lgHip"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgHipLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Pockland</td>
                    <td><input class="form-control form-control-sm" formControlName="lgPockland"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgPocklandLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Thigh</td>
                    <td><input class="form-control form-control-sm" formControlName="lgThigh"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgThighLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Knee</td>
                    <td><input class="form-control form-control-sm" formControlName="lgKnee"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgKneeLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Potree</td>
                    <td><input class="form-control form-control-sm" formControlName="lgPotree"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgPotreeLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Bottom</td>
                    <td><input class="form-control form-control-sm" formControlName="lgBottom"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgBottomLosing"></td>
                </tr>

                <tr>
                    <td class="fw-bold">Height</td>
                    <td><input class="form-control form-control-sm" formControlName="lgHeight"></td>
                    <td><input class="form-control form-control-sm" formControlName="lgHeightLosing"></td>
                </tr>
                
                <tr>
                    <td class="fw-bold">Style</td>
                    <td colspan="2">
                        <input class="form-control form-control-sm"
                            formControlName="lgStyle">
                    </td>
                </tr>

                <tr>
                    <td class="fw-bold">Fabric</td>
                    <td colspan="2">
                        <input class="form-control form-control-sm"
                            formControlName="lgFabric">
                    </td>
                </tr>

                <tr>
                    <td class="fw-bold">Remark</td>
                    <td colspan="2">
                        <textarea rows="3"
                                class="form-control form-control-sm"
                                formControlName="lgRemark"></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="fw-bold">Quantity</td>
                    <td colspan="2">
                        <input class="form-control form-control-sm" formControlName="lgQuantity">
                    </td>
                </tr>

            </tbody>

        </table>
    </div>  
</div>